@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;  
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    weight: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #987554;
    color: #3d1e0f; 

}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow();
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 3rem;
    color: #3d1e0f;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

}
.logo :hover{
    transform: scale(1.1);


}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 20px 20px;
    padding-left: 10px;
    margin-right: 0px;
}

nav ul a{
    text-decoration: none;
   font-size: 1.8rem;
   color: #3d1e0f;
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease;
   border-bottom: 3px solid transparent;
   
}
nav a:hover
nav a.active{
    color: #3d1e0f;
    border-bottom: 3px solidcolor;

}
@media(max-width: 995px){
    nav {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 40%;
      border-left: 3px solid #f0f8ff;
      border-bottom: 3px solid #8590c0;
      border-bottom-left-radius: 2rem;
      padding: 1rem;
      background-color: #efe7da;
      border-top: 0.1rem solid beige(0,0,0,1);

    }

    nav.active{
        display: block;
    }
    nav ul a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }
    nav ul a :hover
    nav ul a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;

    }
}
    section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }

    .home{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 8rem;
        background-color: #f5f5eb;

    }
    .home-content h1{
        font-size: 7rem;
        font-weight: 700;
        line-height: 1.3;

    }
    span{
        color: #8b5843;
    }
    .home-content h3{
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight: 700;

    }
    .home-content p{
        font-size: 1.6rem;
        padding: 5px;

    }
    .home-img{
        border-radius: 50%;
    }
    .home-img img{
        position: relative;
        width: 32vw ;
        border-radius: 50%;
        box-shadow: 0 0 25px solid #2d2f73;
        cursor: pointer;
        transition: 0.2s linear;
     
    }
    .home-img img:hover{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .social-icons a{
        margin:2px;
        margin-bottom: 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: 0.2rem solid #8b5843;
        border-radius: 50%;
        margin: 3rem 1.5 rem 3rem;
        transition: 0.3s ease;
        color: #000 ;

    }
    .social-icons a:hover{
        color: #3d1e0f;
        transform: scale(1.3) translate Y(-5px);
        background-color: beige;
        box-shadow: 0 0 25px;
    }
    .btn{
        
        display: inline-block;
        padding: 1.2rem 2.8rem;
        background-color: black;
        border-radius: 4rem;
        font-size: 1.6rem;
        color: #d9bf9e;
        letter-spacing: 0.3rem;
        font-weight: 600;
        border: 2px solid #5e2708;
        transition: 0.3s ease;
        cursor: pointer;

    }
    .btn:hover{
        transform: scale3d(1.03);
        background-color: #3d1e0f;
        color: beige;
        box-shadow: 0 0 25px;
    }

    .typing-text{
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;

    }
    .typing-text span{
        position: relative;

    }
    .typing-text span::before{
        content: "student";
        color: #8b5843;
        animation: words 20s infinite;

    }
    .typing-text span::after{
        content: "";
        background-color: #f5f5eb   ;
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid black;
        right: -8;
        animation: cursor 0.6s infinite;
    }
    @keyframes cursor {
        to{
            border-left: 3px solid;
        }
    }
     @keyframes words{
        0%, 20%{
        content: "Web Developer";
        }
        21%, 40%{
        content: "Dancer"
        }
        41%, 60%{
        content: "Singer";
        } 
        61%, 80%{
        content: "Singer";
        }
         81%, 100%{
        content: "Student";
         }
        }

        @media (max-width 900px){
        .home{
            gap: 4rem;

        }
    }
        @media (max-width 990px){
       .home{
        flex-direction: column;
        margin: 5rem 4rem;
            
        }

        .home.home-content h3{
            font-size: 2.5rem;
        }
        .home-content h1{
            font-size: 5rem;
        }
        .home-img img{
            width: 70vw;
            margin-top:4rem;
        }
    }

    .about{
        
        margin-top: 25px;
        padding: 100 0px;
        background:local;
        background-color: #f5f5eb;
        border: 1000px;
    }
    .about img{
        margin-right: 10px;
        margin-left: 0px;
        height:min-content;
        width: 430px;
        border-style:inherit ;
        border-radius: 30px;

    }
    .about-text{
        width: 550px;
    }
    .main{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-self: space-around;
    }
    .about-text h2{
        margin: 50px;
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 10px;
        text-justify:distribute-all-lines;
    }
    .about-text p{
        margin-left: 50px;
        letter-spacing: 0px;
        line-height: 30px;
        font-size: 15px;

    }button{
        margin-top: 10px;
        margin-left: 40px;
        background-color: #8b5843;
        color: #3d1e0f;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: .3s;
   
    }
    button:hover{
        
        background-color: transparent;
        border: 2px solid #987554;
        transform: scale3d(1.03);
        box-shadow: 0 0 25px;
    }

    .container{
    
        background-position: 10%;
        margin: 40px 0 0 200px;
        width: 70%;
        height: 400px;
        display:flex;
        justify-content: center;
        gap: 10px
        ;
    }
    .container img{
        width: 15%;
        height: 90%;
        object-fit:cover;
        border-radius: 10px;
        border: 10px solid rgba(red, green, blue, alpha);
        transition:all ease-in-out 0.5s;
    }
    .container img:hover{
        width: 25%;
    }
    
    .skill-text h2{
      
        font-size: 30px;
        text-align:left;
        text-decoration: underline;
        padding-top: 50px ;
        padding-right: 50px;
        

    }.skill-text h4{
        font-size: 20px;
        text-align:center ;
        
    }
    .tskills{

        margin-top: 25px;
        padding: 100 0px;
        background:local;
        background-color: #f5f5eb;
        border: 1000px;
    
        
    }.dance{

        background-position: 10%;
        margin: 0px 20px 10px 180px;
        height: 200px;
        justify-content: center;
        gap: 20px;
    }
    .dance img{
        width: 29%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px;
        transition:all ease-in-out 0.5s;
        

    }.dance-text h4{
        width: auto;
        height: 10px;
        margin-top: 0px 5px 10px 5px;
        justify-self: unset;
        text-align: center;
        padding: 50px;;
        font-size: 20px;
        padding-top: 10px;

    }
    .dance img:hover{
        width: 40%;


    }
    .education{
       
        display: flex;
        justify-content: center;
        background-color: #3d1e0f;
        margin-top: 25px;
        padding: 100 0px;
        background:local;
        background-color: #f5f5eb;
        border: 1000px;

    }.third-container{
        position: relative;
        width:  1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        pad: 30px;
        margin-top: 12%;
        margin-bottom: 6%;
        gap: 10%;

    }.education.card{
        width: 300px;
        position: relative;
        height: 300px;
        background-color: #d9bf9e;
        margin: 30px 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0.5px 10px #987554;
        transition: 0.3s ease-in-out;
        margin-top:10px;

    }.education .card .imgBx{
        position: center;
        width: 220px;
        height: 220px;
        top: -10px;
        left: 10px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 1.2);

    }
    .education .card .imgBx img
    {
        max-width: 100%;
        border-radius: 10px;

    }
    .imgBx:hover img{
        transform: scale(1.1);

    }
    .education h2{
        font-size: 20px;
        text-align:left;
        text-decoration:none;
        padding-top: 50px ;
        padding-right: 50px;

    } .education p{
        font-size: 15px;

    } .education h3{
        font-size: 30px;
        text-align:left;
        text-decoration: underline;
        padding-top: 50px ;
        padding-right: 50px;
        

    }.projects{
        margin-top: 25px;
        background-color: #f5f5eb;
        border: 100px;
        padding: 10px 0;

        
    }.projtitle h4{
        font-size: 30px;
        text-align:left;
        text-decoration: underline;
        padding-top: 50px ;
        padding-right: 50px;
        margin: 25px;
        padding: 100px;
    }

    
    .project a {
        color: #333; 
        background-color: #efe7da; 
        padding: 0.5rem 1.5rem;
        border-radius: 25px; 
        text-decoration: none;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        transition: background-color 0.3s ease, transform 0.3s ease; 
      }
      
      .project a:hover {
        background-color: #8b5843; 
        color: #fff; 
        transform: scale(1.1); 
   

      }.project ul li a{
        text-decoration: none;
        margin: 20px 0 0 40px;
        width: 30%;
        border: 3px;
        padding: 5px;
        font-size: 50px;
        gap:initial;

        }
        .project ul li{
            display:inline;
            list-style: none;
            margin: 10px 0px 0 90px;
            padding-left: 10px;
            
        }
        
        .project ul a{
            text-decoration: none;
           font-size: 1.8rem;
           color: #3d1e0f;
           margin-left: 4rem;
           font-weight: 500;
           transition: 0.3s ease;
           border-bottom: 3px solid transparent;
           
           
        } 
        

      
      textarea{
        resize: vertical;
      }
      
      .contacts {
        display: flex;
        border: 1px solid black;
      }

      .left-column, .right-column {
        flex-basis: 50%;
      }.contacts{
        background-color: #efe7da;
      }

      .contactme{
        font-size: 20px;
        font-weight: bold;
        margin: 0px;
      }.right-column h2{
        padding-top: 20px;
        font-size: 20px;
      }.right-column p{
        font-size: 20px;
      }iframe{
        margin-top: 10px;
      }
      
      
